<!DOCTYPE html>
<html class="hb-loaded">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="tM0rlxogcouz7qvIpvfvsV-ghBHbBAuwFdqDwYrs8Ew">
    <title>褪墨・时间管理，个人提升，生活健康与习惯</title>
    <meta name="title" content="褪墨・时间管理，个人提升，生活健康与习惯">
    <meta name="description" content="褪墨・时间管理是一个关注时间管理、GTD、个人提升、生活健康与习惯、学习方法和演讲技巧的网站。我们的目标是：把事情做到更好！">
    <meta name="author" content="褪墨・时间管理">
    <meta name="copyright" content="褪墨・时间管理（www.mifengtd.cn）版权所有，转载请注明来源、作者及原文链接。">
    <link rel="dns-prefetch" href="http://assets.mifengtd.cn/">
    <link rel="dns-prefetch" href="http://images.mifengtd.cn/">
    <link rel="dns-prefetch" href="http://www.google-analytics.com/">
    <link rel="dns-prefetch" href="http://mifengtd.disqus.com/">
    <link rel="dns-prefetch" href="http://v3.jiathis.com/">
    <link rel="dns-prefetch" href="http://widget.wumii.cn/">
    <link rel="canonical" href="http://www.mifengtd.cn/">
    <link rel="shortcut icon" href="http://assets.mifengtd.cn/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="订阅褪墨文章" href="http://www.mifengtd.cn/feed.xml">
    <!--[if lte IE 8]>
<link rel="stylesheet" href="http://assets.mifengtd.cn/assets/css/main-old-ie-20140919.min.css" />
<![endif]-->
    <!--[if gt IE 8]>
<!-->
    <link rel="stylesheet" href="/static/main-20140919.css">
    <!--<![endif]-->
    <script src="/static/count-data.js" async="">
</script>
</head>
<body>
    <div id="layout">
        <div id="main">
            <div class="wrap pure-g">
                <div class="primary pure-u-1 pure-u-md-2-3 pure-u-lg-4-5">
                    <div class="header">
                        <h1 class="brand"> <a href="http://www.mifengtd.cn/" title="褪墨・时间管理，个人提升，生活健康与习惯">褪墨・时间管理</a> </h1>
                        <h2>把事情做到更好！</h2>
                    </div>
                    <div class="content">
                        <div class="home-post">
                            <h2 class="content-subhead nav-title"> <a class="btn-primary" href="http://www.mifengtd.cn/articles/my-methodology-of-gtd-xxgg.html">我的GTD方法论</a> </h2>
                            <p class="content-info nav-info">
                                <span class="date"> 发表于 17 Dec 2014 </span>
                                <span class="categories"> ・ <a href="http://www.mifengtd.cn/categories/time-management/">时间管理</a> ・ <a href="http://www.mifengtd.cn/articles/my-methodology-of-gtd-xxgg.html#disqus_thread" rel="noindex">1 条评论</a> </span>
                            </p>
                            <div class="content-main post">
                                <p> <span style="color:#008000">本文作者 <a href="http://weibo.com/xxggco">@闲逛xxgg</a> 。</span> </p>
                                <p> <a href="http://www.mifengtd.cn/articles/my-methodology-of-gtd-xxgg.html" target="_blank"> <img class="aligncenter" alt="我的GTD方法论" src="/static/my-gtd-methodology.jpg" height="208" width="520"> </a> </p>
                                <blockquote>
                                <p>内容<a href="http://www.mifengtd.cn/articles/getting_things_done_cn_download.html" title="Getting Things Done中文版下载：《尽管去做——无压工作的艺术》">链接</a>,其他内容</p>
                                <p>—— 维基百科</p>
                                </blockquote>
                                <p>继续</p>
                            </div>
                            <div> <a class="btn-primary" href="http://www.mifengtd.cn/articles/my-methodology-of-gtd-xxgg.html" title="我的GTD方法论">点击阅读全文 » </a></div>
                        </div>
                        <div class="page-widget">
                            <div class="widget-content">
                                <script src="/static/linkid.js" async="" type="text/javascript"></script>
                                <script src="/static/ca-pub-9138033500601464.js" type="text/javascript" async=""> </script>
                                <script src="/static/count.js" async=""> </script>
                                <script src="/static/main-20140919.js" async=""> </script>
                                <script src="/static/analytics.js" async=""> </script>
                                <script async="" src="/static/adsbygoogle.js"> </script>
                                <ins data-adsbygoogle-status="done" class="adsbygoogle" style="display: block; height: 60px;" data-ad-client="ca-pub-9138033500601464" data-ad-slot="7491236942" data-ad-format="auto">
                                    <ins id="aswift_0_expand" style="display:inline-table;border:none;height:60px;margin:0;padding:0;position:relative;visibility:visible;width:598px;background-color:transparent">
                                        <ins id="aswift_0_anchor" style="display:block;border:none;height:60px;margin:0;padding:0;position:relative;visibility:visible;width:598px;background-color:transparent">
                                            <iframe marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;" frameborder="0" height="60" width="598"> </iframe>
                                        </ins>
                                    </ins>
                                </ins>
                                <script>(adsbygoogle=window.adsbygoogle||[]).push({});</script>
                            </div>
                        </div>
                        <div class="home pure-g">
                            <div class="home-primary pure-u-1 pure-u-sm-2-3">
                                <div class="home-widget">
                                    <h2 class="home-widget-title">最新动态</h2>
                                    <div class="home-widget-content">
                                        <ul class="list">
                                            <li>
                                                <h3 class="content-subhead nav-title"><a href="http://www.mifengtd.cn/articles/my-methodology-of-gtd-xxgg.html" class="btn-default">我的GTD方法论</a></h3>
                                                <p class="content-info nav-info">
                                                    <span class="date"> 发表于 17 Dec 2014 </span><span class="categories"> ・<a href="http://www.mifengtd.cn/categories/time-management/">时间管理</a> ・<a href="http://www.mifengtd.cn/articles/my-methodology-of-gtd-xxgg.html#disqus_thread" rel="noindex">1 条评论</a> </span>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="home-secondary pure-u-1 pure-u-sm-1-3">
                                <div class="home-widget">
                                    <h2 class="home-widget-title">系列推荐</h2>
                                    <div class="home-widget-content">
                                        <ul class="list">
                                            <li> <h3 class="content-subhead nav-title"> <a href="http://www.mifengtd.cn/articles/self-discipline-summary.html" title="学会自律，做自己的主人" class="btn-default"> 学会自律 » </a> </h3> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="home pure-g">
                            <div class="home-primary pure-u-1 pure-u-sm-1-3">
                                <div class="home-widget">
                                    <h2 class="home-widget-title">最受欢迎文章</h2>
                                    <div class="home-widget-content">
                                        <ul class="list">
                                            <li> <h3 class="content-subhead nav-title"> <a href="http://www.mifengtd.cn/articles/30-best-articles-in-2012.html" class="btn-default">2012年最受欢迎的文章 »</a> </h3> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="home-secondary pure-u-1 pure-u-sm-2-3">
                                <div class="home-widget">
                                    <h2 class="home-widget-title">热门标签</h2>
                                    <div class="home-widget-content cloud-content">
                                        <ul class="tag-cloud">
                                            <li> <a href="http://www.mifengtd.cn/tags/%E6%97%B6%E9%97%B4%E7%AE%A1%E7%90%86/">时间管理</a> <span class="tag-count">165</span> </li>
                                            <li> <a href="http://www.mifengtd.cn/tags/%E6%97%B6%E9%97%B4%E7%AE%A1%E7%90%86/">时间管理</a> <span class="tag-count">165</span> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="secondary pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
                <div class="widget" id="widget-search">
                    <div class="widget-content">
                        <form action="http://www.baidu.com/baidu" target="_blank" id="search-form" class="pure-form pure-g">
                            <div class="pure-u-2-3">
                                <input name="tn" value="bds" type="hidden">
                                <input name="cl" value="3" type="hidden">
                                <input name="ct" value="2097152" type="hidden">
                                <input name="si" value="www.mifengtd.cn" type="hidden">
                                <input id="search-box" name="word" placeholder="搜索褪墨网站" title="搜索褪墨网站" maxlength="100">
                            </div>
                            <div class="pure-u-1-3">
                                <input value="搜索" class="pure-button" type="submit">
                            </div>
                        </form>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1">
                    <div class="widget widget-small quote">
                        <h3 class="widget-title">推荐摘录</h3>
                        <div class="widget-content" id="widget-quote">
                            <p>走得最慢的人，只要他不丧失目标，也比漫无目的地徘徊的人走得快。</p>
                            <a title="低效能人士的七个坏习惯" class="btn-primary" href="http://www.mifengtd.cn/articles/7-habits-of-highly-ineffective-people.html">阅读全文 →</a>
                        </div>
                    </div>
                    <div class="widget widget-small">
                        <div class="widget-title">广告</div>
                        <div class="widget-content">
                            <a href="http://www.51u3u4.com/" rel="nofollow" target="_blank" class="ad"> <img src="http://images.mifengtd.cn/2014/12/my-gtd-methodology.jpeg" alt="稻草人时间管理软件" height="240" width="180"> </a>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1">
                    <div class="widget widget-small">
                        <div class="widget-title">广告</div>
                        <div class="widget-content">
                            <a href="http://www.baidu.com" rel="nofollow" target="_blank" class="ad"> <img src="http://images.mifengtd.cn/2014/12/my-gtd-methodology.jpeg" alt="Worktile 让工作更简单" height="600" width="180"> </a>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1">
                    <div class="widget">
                        <h3 class="widget-title">网站推荐</h3>
                        <div class="widget-content widget-content-list">
                            <ul>
                                <li> <a href="http://baidu.com">baidu</a> </li>
                                <li> <a href="http://163.com">baidu</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-g">
            <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1">
                <div class="widget">
                    <h3 class="widget-title">分类</h3>
                    <div class="widget-content widget-content-list pure-g">
                        <div class="pure-u-1-2">
                            <ul>
                                <li> <a href="http://www.mifengtd.cn/categories/time-management/">相册</a> </li>
                                <li> <a href="http://www.mifengtd.cn/categories/time-management/">留言</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1">
            <div class="widget">
            <h3 class="widget-title">联系我们</h3>
            <div class="widget-content widget-content-list">
            <ul>
            <li>邮箱 mifeng@mifengtd.cn</li>
            <li>订阅 <a href="http://www.mifengtd.cn/feed.xml" target="_blank">褪墨RSS</a>
    </li>
            <li>订阅 <a href="http://list.qq.com/cgi-bin/qf_invite?id=e800f3ea8fe7ece6fc50b2e1795dc993c8f0bc07c6052563" target="_blank">褪墨RSS邮件</a>
    </li>
            <li>关注 <a href="http://weibo.com/mifengtd" title="褪墨官方微博" target="_blank">新浪微博</a>
    </li>
            </ul>
            </div>
            </div>
            </div>
            <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1">
            <div class="widget">
            <div class="widget-title">资助我们</div>
            <div class="widget-content">
            <p>
    <a href="http://www.mifengtd.cn/about#support" target="_blank" title="资助我们">
    <img src="/static/alipay-donate-0.png" alt="通过支付宝资助褪墨" height="37" width="150">
    </a>
    </p>
            <p>如果你觉得我们的文章对你产生了积极的影响，欢迎 <strong>
    <a href="http://www.mifengtd.cn/articles/share-your-experience-on-tuimo.html" target="_blank">投稿分享</a>
    </strong>
            你的经验和通过支付宝来 <strong>
    <a href="http://www.mifengtd.cn/about#support" target="_blank">资助我们</a>
    </strong>
            。</p>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            <div class="footer">
                <div class="footer-main pure-g">
                    <div class="pure-u-1 pure-u-sm-1-2">
                        <p class="footer-cheer">2007 — 2014<br>天行健，君子以自强不息。地势坤，君子以厚德载物。 </p>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-2">
                        <p class="footer-contact">
                            <a href="http://www.mifengtd.cn/articles/archives.html">网站地图</a>
                            |<a href="http://www.mifengtd.cn/contact/">联系我们</a>
                            |<a href="http://www.mifengtd.cn/about#support">资助</a>
                            |<a href="http://www.mifengtd.cn/articles/share-your-experience-on-tuimo.html">投稿</a>
                            |<a href="http://www.mifengtd.cn/contact#ad">广告</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#menu" id="menuLink" class="menu-link"><span></span></a>
        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading" href="http://www.mifengtd.cn/">褪墨・时间管理</a>
                <ul class="nav">
                    <li><a href="http://www.mifengtd.cn/">首页</a></li>
                    <li><a href="http://www.mifengtd.cn/articles/">最新文章</a></li>
                    <li><a href="http://www.mifengtd.cn/search/">站内搜索</a></li>
                    <li><a href="http://www.mifengtd.cn/about/">关于褪墨</a></li>
                    <li><a href="http://www.mifengtd.cn/contact/">联系褪墨</a></li>
                    <li><a href="http://www.mifengtd.cn/sitemap/">热门文章</a></li>
                    <li><a href="http://www.mifengtd.cn/tags/">标签分类</a></li>
                    <li><a href="http://www.mifengtd.cn/quotes/">推荐摘录</a></li>
                </ul>
            </div>
        </div>
    </div>
<script>var disqus_shortname="mifengtd";</script>
<script>!function(e,a,n,t,i,c,s){e.GoogleAnalyticsObject=i,e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date,c=a.createElement(n),s=a.getElementsByTagName(n)[0],c.async=1,c.src=t,s.parentNode.insertBefore(c,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-1877368-1","mifengtd.cn"),ga("require","displayfeatures"),ga("require","linkid"),ga("send","pageview");</script>
<script src="/static/jquery-1.js">
</script>
<script>window.jQuery||document.write('<script src="//scripts/jquery-1.js"><\/script>');</script>
<script>
function js(s){
    var e=document,t="script",n=e.createElement(t),c=e.getElementsByTagName(t)[0];
    n.async=1,n.src=s,c.parentNode.insertBefore(n,c)
}
js("/scripts/main-20140919.js"),
js("/static/count.js");
var lazy_scripts=["http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js","http://mifengtd.disqus.com/embed.js","http://v3.jiathis.com/code/jia.js?uid=1521871","http://widget.wumii.cn/ext/relatedItemsWidget"];
</script>
</body>
</html>
