<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="tM0rlxogcouz7qvIpvfvsV-ghBHbBAuwFdqDwYrs8Ew">
    <title>~Seven & Trytry's Wedding~</title>
    <meta name="title" content="褪墨・时间管理，个人提升，生活健康与习惯">
    <meta name="description" content="褪墨・时间管理是一个关注时间管理、GTD、个人提升、生活健康与习惯、学习方法和演讲技巧的网站。我们的目标是：把事情做到更好！">
    <meta name="author" content="褪墨・时间管理">
    <meta name="copyright" content="褪墨・时间管理（www.mifengtd.cn）版权所有，转载请注明来源、作者及原文链接。">
    <link rel="dns-prefetch" href="http://assets.mifengtd.cn/">
    <link rel="dns-prefetch" href="http://images.mifengtd.cn/">
    <link rel="dns-prefetch" href="http://www.google-analytics.com/">
    <link rel="dns-prefetch" href="http://mifengtd.disqus.com/">
    <link rel="dns-prefetch" href="http://v3.jiathis.com/">
    <link rel="dns-prefetch" href="http://widget.wumii.cn/">
    <link rel="canonical" href="http://www.mifengtd.cn/">
    <link rel="shortcut icon" href="http://assets.mifengtd.cn/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="订阅褪墨文章" href="http://www.mifengtd.cn/feed.xml">
    <!--[if lte IE 8]><link rel="stylesheet" href="http://assets.mifengtd.cn/assets/css/main-old-ie-20140919.min.css" /><![endif]--> <!--[if gt IE 8]><!--> 
    <link rel="stylesheet" href="static/main-20140919.css"> <!--<![endif]--> <script src="static/count-data.js" async=""></script>
</head>
<body>
    Hello world, {{name}}
</body>
</html>
